
.quickviewpro-block {
    position: relative;
}
  

.quickviewpro-hider {
    background: none repeat scroll 0 0 #333333;
    display: block;
    left: 0px;
    opacity: 0.3;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30) padding: 6px 9px;
    overflow: hidden;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10500;
}

.quickviewpro-popup {
    left: 50%;
    position: absolute;
    margin-left: -465px;
    top: 10%;
    width: 930px;
    z-index: 10740;
}
.quickviewpro-popup .popup {
	background: none repeat scroll 0 0 #FFFFFF;
	border-radius: 0 0 0 0;
	position: relative;
}

.quickviewpro-popup .popup-header {
    overflow: hidden;
}
    .quickviewpro-popup .product-name {
        text-align: left;
        float: left;
    }
        .quickviewpro-popup .product-name h1 {
            font-size: 24px;
            font-weight: normal;
            margin-top: 14px;
            margin-bottom: 14px;
            padding: 0px;
            border-bottom: 0px;
        }

    .quickviewpro-popup .goto-product-view {
        float: right;
        margin: 17px 60px 0 0;
    }

    .quickviewpro-popup .close-popap {
        background: url(../images/quickviewpro/popap-close.png) no-repeat scroll right center transparent;
        cursor: pointer;
        padding: 12px;
        position: absolute;
        right: 10px;
        top: 10px;
    }

.quickviewpro-popup .main-popup {
    clear: both;
    position: relative;
}
    .quickviewpro-popup .product-view {border: 0px}
        .quickviewpro_scroll {overflow-y: scroll}

        .quickviewpro-popup .product-essential {
            background: none;
            padding: 16px;
        }

    .quickviewpro-popup .product-img-box {
        width: 40%;
        padding-right: 0px;
		margin-bottom:0px !important;
    }

    .quickviewpro-popup .product-view .product-shop .price-info {
        max-width: 100%;
    }
    .quickviewpro-popup .product-view .product-shop {
        width: 57%;
        text-align: left;
        margin: 15px 0 10px 0;
        padding: 0px;
    }

    .quickviewpro-popup .product-options-top-block {
        clear: both;
    }

    .quickviewpro-popup .product-options-bottom-block {
        width: 100%;
        float: right;
    }
        .quickviewpro-popup .product-options dt {
            text-align: left;
        }
        
        .quickviewpro-popup .product-options ul.options-list label {
            width: 100%;
        }

    .product-additional-info-block {
        margin-bottom: 15px;
    }

    .quickviewpro_popup_alpha {
        opacity: 0.8;
        filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
        position: absolute;
        background: #FFFFFF;
        top: 0px;
        z-index: 10750;
    }

    .quickview_block_related {display:inline-block}
        .quickview_block_related li {float:left;}
            .quickview_related_item {width:120px; margin-right:10px}
                .quickview_related_item_image {}
                .quickview_related_item_details {}
                    .quickview_related_checkbox {float: left; margin-top: 4px}
                    .quickview_related_item_details .price-box {margin:5px 0px !important}

    .quickviewpro-popup .product-view .product-shop .short-description {
        margin: 0 0 10px;
        padding: 0 0 10px;
    }

    .ie9 .quickviewpro-button, .ie8 .quickviewpro-button, .ie9 .quickviewpro-button {
        color: #fff !important;
    }

    .ie8 .quickviewpro-button {
        color: #FFF !important;
    }

    .quickviewpro-button {
        text-align: center;
		background:url(../images/quickviewpro/zoom-icon.png) no-repeat;
        color: #fff;
        position: absolute;
        text-decoration: none !important;
		left: 0%;
		opacity: 0;
	-webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
    }

   .quickviewpro-button-center {
        top: 26%;
        width: 45px;
        padding: 23px 0px;
	}
	
	
	.products-grid  .item:hover .quickviewpro-button  {left: 50%; margin-left: -45px; opacity: 1;}
	.quickviewpro-button - .cus-product-price  { background:#000;}


    .quickviewpro-button.quickviewpro-button-glass {
        background: none;
        margin: 0;
        padding: 10px;
        border: 0px;
        left: initial;
        right: 10px;
        width: auto;
        display: block !important;
    }

    .quickviewpro-button.quickviewpro-button-glass:hover {
        background: none;
        margin: 0;
        padding: 10px;
        border: 0px;
    }

    .quickviewpro-button-below {
        top: 0;
        left: 0;
        width: 100%;
        margin-left: 0;
        padding: 10px 0px;
    }

	.products-grid .quickviewpro-button {
		z-index: 999;
	}
	
	.products-grid .quickviewpro-button span{ display:none;}
	
	.products-grid .product-image-area:hover .quickviewpro-button, .products-grid .product-image-area .quickviewpro-button:hover {
		display:block !important;
    }

    .quickviewpro-popup .quickviewpro_share {
        float: right;
        margin-top: 2px;
    }
    .quickviewpro-popup .sharethis {
        position: relative;
        display: inline-block;
    }

        .quickviewpro-popup .sharethis .share-popup {
            display: none;
            background: none repeat scroll 0 0 #FFFFFF;
            border: 1px solid #CCCCCC;
            box-shadow: 1px 1px 1px #CCCCCC;
            padding: 5px;
            position: absolute;
            top: 17px;
            right: -15px;
            z-index: 10745;
        }
        .quickviewpro-popup .sharethis:hover .share-popup {
            display: block;
        }

            .quickviewpro-popup .share-block li {
                float: left;
                display: block;
                margin-left: 3px;
                line-height: 18px;
            }

            .quickviewpro-popup .share-popup li {
                float: left;
                display: block;
                margin-left: 5px;
                width: 90px;
            }

            .quickviewpro-popup .share-block li span {
                background: url(../images/quickviewpro/soc_icons_grey.png) no-repeat;
            }
            .quickviewpro-popup .share-popup li span {
                background: url(../images/quickviewpro/soc_icons_dark_grey.png) no-repeat;
            }

            .quickviewpro-popup .share-block li a:hover span,
            .quickviewpro-popup .share-popup li a:hover span {
                filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
                opacity: 0.8;
            }

            .quickviewpro-popup .share-block li span {
                display: block;
                width: 17px;
                height: 17px;
                overflow: hidden;
                text-indent: 25px;
            }

            .quickviewpro-popup .share-block .share-title span {
                width: 44px;
                text-indent: 0px;
                background: none;
            }

            .quickviewpro-popup .share-popup li span {
                padding-left: 21px;
                display: block;
                line-height: 18px;
                margin: 4px 2px 2px;
            }
            .quickviewpro-popup .share-popup a {text-decoration: none}

                .quickviewpro-popup li.share-email span          {background-position: 0 -126px}
                .quickviewpro-popup li.share-facebook span     {background-position: 0 -2px}
                .quickviewpro-popup li.share-twitter span       {background-position: 0 -27px}
                .quickviewpro-popup li.share-googleplus span  {background-position: 0 -52px}
                .quickviewpro-popup li.share-pinterest span    {background-position: 0 -625px}
                .quickviewpro-popup li.share-linkedin span      {background-position: 0 -176px}
                .quickviewpro-popup li.share-myspace span        {background-position: 0 -226px}
                .quickviewpro-popup li.share-livejournal span {background-position: 0 -251px}
                .quickviewpro-popup li.share-delicious span     {background-position: 0 -275px}
                .quickviewpro-popup li.share-stumbleupon span  {background-position: 0 -151px}
                .quickviewpro-popup li.share-reddit span           {background-position: 0 -201px}

    .quickviewpro-popup .add-to-box {
        margin-top: 20px;
        clear: both;
    }

    .quickviewpro-popup .product-view .add-to-cart {
        border: 0px;
        margin: 0px;
        padding: 0px;
    }

    .quickviewpro-popup .tabs_title {
        padding: 0px;
    }
        .quickviewpro-popup .tabs_title li {
            margin: 0px -1px 0 0;
        }

    .quickviewpro-popup .price-box-bundle {
        clear: both;
        float: left;
        margin-top: 10px;
    }
    .quickviewpro-popup .price-as-configured {
        float: right;
        margin-top: 5px;
    }

    .crosssell .quickviewpro-button,
    .block-related .quickviewpro-button {
        top: 15px;
        padding: 7px 14px;
        font-size: 13px;
    }

    .box-up-sell .quickviewpro-button {
        top: 44px;
        margin-left: -53px;
    }


.quickviewpro-popup .next-product-view {
    background: url(../images/quickviewpro/popap-next.png) no-repeat scroll right center transparent;
    display: block;
    font-size: 0;
    padding: 22px;
    position: absolute;
    right: -57px;
    top: 180px;
    z-index: 10741;
}

.quickviewpro-popup .prev-product-view {
    background: url(../images/quickviewpro/popap-prev.png) no-repeat scroll right center transparent;
    display: block;
    font-size: 0;
    left: -60px;
    padding: 22px;
    position: absolute;
    top: 180px;
    z-index: 10741;
}

.quickviewpro-popup .next-product-view:hover, .quickviewpro-popup .prev-product-view:hover, .quickviewpro-popup .close-popap:hover {
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80) padding: 6px 9px;
    opacity: 0.8;
}

.map-popup {
    z-index: 11000 !important;
}

@media only screen and (max-width: 1000px) {
    .quickviewpro-popup .next-product-view {
        right: -23px;
    }
    .quickviewpro-popup .prev-product-view {
        left: -26px;
    }
    .quickviewpro-popup {
        left: 50%;
        position: absolute;
        margin-left: -350px;
        top: 15%;
        width: 700px;
    }
    .quickviewpro-popup .product-img-box {
        width: 40%;
    }
    .quickviewpro-popup .product-view .product-shop {
        width: 58%;
        margin: 0 0 10px 0;
        padding: 0px;
    }
    .quickviewpro-popup .product-options-top-block {
        clear: both;
    }
    .quickviewpro-popup .product-options-bottom-block {
        width: 58%;
        float: right;
    }
}

@media only screen and (max-width: 770px) {
    .quickviewpro-popup .next-product-view {
        right: -24px;
    }
    .quickviewpro-popup .prev-product-view {
        left: -27px;
    }
    .quickviewpro-popup {
        left: 50%;
        position: absolute;
        margin-left: -47%;
        top: 15%;
        width: 94%;
    }
    .quickviewpro-popup .product-img-box {
        width: 100%;
        padding-right: 0px;
    }
    .quickviewpro-popup .product-view .product-shop {
        width: 100%;
        margin: 0 0 10px 0;
        padding: 0px;
    }
    .quickviewpro-popup .product-options-top-block {
        clear: both;
    }
    .quickviewpro-popup .product-options-bottom-block {
        width: 100%;
        float: none;
        clear: both;
    }
    .quickviewpro-popup .goto-product-view {
        float: none;
        margin: 0 0 10px 25px;
        clear: both;
    }
}

@media only screen and (max-width: 670px) {
    .quickviewpro-popup .next-product-view {
        right: -23px;
    }
    .quickviewpro-popup .prev-product-view {
        left: -26px;
    }
    .quickviewpro-popup .tabs_title li {
        width: 100%;
        border-bottom: 0px;
    }
    .quickviewpro-popup .tabs_title li:last-child {
        border-bottom: 1px solid #c1c1c1;
    }
}

@media only screen and (max-width: 480px) {
    .quickviewpro-popup .next-product-view {
        right: -20px;
    }
    .quickviewpro-popup .prev-product-view {
        left: -23px;
    }

}

.quickviewpro-popup h1 {
    font-size: 13px;
}
.quickviewpro-popup .product-image-thumbs img {
    width: 76px;
    height: 103px;
}
